/* Reset & Font */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Orbitron', sans-serif;
    user-select: none;
}

html, body {
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

/* Header */
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: #5E5252;
}

.logo-f1 {
    width: 180px;
    height: auto;
}

.spacer {
    width: 150px;
}

h1 {
    flex: 1;
    text-align: center;
}

.btn {
    width: 150px;
    background-color: #e10600;
    color: white;
    padding: 12px 22px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
}

.btn:hover {
    background-color: #b30500;
}

/* Bandeau */
.bandeau {
    width: 100%;
    display: flex;
    justify-content: space-around;
    padding: 25px 0;
    background: rgba(0, 0, 0, 0.25);
}

.colonne ul {
    list-style: none;
    font-size: 18px;
}

.colonne ul li {
    margin-bottom: 10px;
}

/* Menu déroulant */
.menu-deroulant {
    font-size: 22px;
    color: black;
    margin: 20px 0;
    text-align: left;
}

.p {
    font-size: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.texte {
    display: none;
    list-style: none;
    background: rgba(0,0,0,0.05);
    padding: 20px 0;
    animation: scale-up-ver-top 0.4s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
}

.sous-menu:hover .texte {
    display: block;
}

.toggle-menu {
    display: none;
}

.toggle-menu:checked + .p + .textes {
    display: block;
    max-height: 300px;
}

/* Liens / boutons */
.main-content {
    flex: 1; /* prend tout l’espace restant pour pousser le footer en bas */
    display: flex;
    justify-content: center;
    align-items: center;
}

.liens {
    display: flex;
    gap: 50px;
}

/* Footer */
.footer {
    background-color: #000;
    color: white;
    text-align: center;
    padding: 15px 0;
}

@-webkit-keyframes scale-up-ver-top {
    0% {
        -webkit-transform: scaleY(0.4);
        transform: scaleY(0.4);
        -webkit-transform-origin: 100% 0%;
        transform-origin: 100% 0%;
    }

    100% {
        -webkit-transform: scaleY(1);
        transform: scaleY(1);
        -webkit-transform-origin: 100% 0%;
        transform-origin: 100% 0%;
    }
}

@keyframes scale-up-ver-top {
    0% {
        -webkit-transform: scaleY(0.4);
        transform: scaleY(0.4);
        -webkit-transform-origin: 100% 0%;
        transform-origin: 100% 0%;
    }

    100% {
        -webkit-transform: scaleY(1);
        transform: scaleY(1);
        -webkit-transform-origin: 100% 0%;
        transform-origin: 100% 0%;
    }
}

@keyframes fadeOut {
    0% {
        opacity: 1;
        visibility: visible;
    }
    100% {
        opacity: 0;
        visibility: hidden;
    }
}

@keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
}
