body {
    font-family: 'Orbitron', sans-serif;
    color: black;
    margin: 0;
    font-weight: bold;
}

video {
    width: 100vw;
    height: 100vh;
    object-fit: cover;
}


.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: #5E5252;
    ;
}

.logo-f1 {
    width: 180px;
    height: auto;
}

.spacer {
    width: 150px;
}

h1 {
    flex: 1;
    text-align: center;

}

.btn {
    width: 150px;
    background-color: #e10600;
    color: white;
    padding: 12px 22px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
}

.btn:hover {
    background-color: #b30500;
}

.bandeau {
    width: 100%;
    display: flex;
    justify-content: space-around;
    padding: 25px 0;
    background: rgba(0, 0, 0, 0.25);
}

.colonne ul {
    list-style: none;
    font-size: 18px;
    padding: 0;
}

.colonne ul li {
    margin-bottom: 10px;
}

.menu-deroulant {
    font-size: 22px;
    color: black;
    margin: 20px 0;
    text-align: left;
    display: inline-block;
}

.p {
    font-size: 30px;
    cursor: pointer;
    display: inline-block;
}

.texte {
    display: none;
    list-style: none;
    background: rgba(0, 0, 0, );
    width: 100%;
    text-align: left;
    padding: 20px 0;
    -webkit-animation: scale-up-ver-top 0.4s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
    animation: scale-up-ver-top 0.4s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
}

.sous-menu:hover .texte {
    display: block;
}

.footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    background: #000;
    opacity: 0.9;
    padding: 20px;
    display: flex;
    color: white;
}

.toggle-menu {
    display: none;
}

.textes {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.3s ease;
    transform-origin: top;
}

.toggle-menu:checked+.p+.textes {
    max-height: 300px;
    animation: scale-up-ver-top 0.4s cubic-bezier(0.390, 0.575, 0.565, 1.000) forwards;
    display: block;
}

.sous-menus:hover .textes {
    display: none;
}

.sous-menu,
.sous-menus,
.p,
.texte,
.textes {

    user-select: none;
}

.chargement {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: black;
    z-index: 100;
    opacity: 1;
    animation: fadeOut 1s forwards; 
    animation-delay: 7s; 
}

.main-content {
    opacity: 0;
    animation: fadeIn 1s forwards;
    animation-delay: 7s; 
}

.liens {
   display: flex;
   justify-content: space-around;
   align-items: flex-end;
}

@-webkit-keyframes scale-up-ver-top {
    0% {
        -webkit-transform: scaleY(0.4);
        transform: scaleY(0.4);
        -webkit-transform-origin: 100% 0%;
        transform-origin: 100% 0%;
    }

    100% {
        -webkit-transform: scaleY(1);
        transform: scaleY(1);
        -webkit-transform-origin: 100% 0%;
        transform-origin: 100% 0%;
    }
}

@keyframes scale-up-ver-top {
    0% {
        -webkit-transform: scaleY(0.4);
        transform: scaleY(0.4);
        -webkit-transform-origin: 100% 0%;
        transform-origin: 100% 0%;
    }

    100% {
        -webkit-transform: scaleY(1);
        transform: scaleY(1);
        -webkit-transform-origin: 100% 0%;
        transform-origin: 100% 0%;
    }
}

@keyframes fadeOut {
    0% {
        opacity: 1;
        visibility: visible;
    }
    100% {
        opacity: 0;
        visibility: hidden;
    }
}

@keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
}
